{% extends "base.html" %}
{% block content %}
<section class="content-header">
  <h1>
    Cadastrar Usuário
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-lg-12">
      <div class="box box-warning">
        <div class="box-body">
          <!-- form start -->
          <form method = "post" id="form">
            {{ form.csrf_token }}
            <div class="box-body">
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form.realname.label }}
                    {{form.realname(required=true, class="form-control")}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <i class="fa fa-expeditedssl" aria-hidden="true"></i>
                    {{ form.password.label }}
                    {{form.password(required=true, class="form-control", pattern=".{8,}", placeholder="Mínimo de 8 caracteres")}}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group has-feedback">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{ form.email.label }}
                    {{form.email(required=true, class="form-control")}}
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  {{ form.active.label }}
                  {{form.active(required=true, class="form-control")}}
                </div>
              </div>
            </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Cadastrar</button>
                <a href="{{ url_for('users') }}" class="btn btn-default btn-flat"><i class="fa fa-reply"></i> Voltar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{% block modal %}
    <!-- MODAL SUCESSO -->
    <div class="modal fade" id="sucesso" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus"></i> Cadastro de usuários</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <p style="font-size:18px">Usuário cadastrado com sucesso</p>
            </div>
          </div>
          <div class="modal-footer clearfix">
            <a href="{{ url_for('users') }}" class="btn btn-warning pull-right"><i class="fa fa-check"></i> OK</a>
          </div>
        </div>
      </div>
    </div>

  <!-- MODAL USUÁRIO REPETIDO -->
    <div class="modal modal-warning fade" id="repetida" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus"></i> Cadastro de usuários</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <p style="font-size:18px">Usuário já existe</p>
            </div>
          </div>
          <div class="modal-footer clearfix">
            <button type="button" class="btn btn-outline pull-right" data-dismiss="modal"><i class="fa fa-check"></i> OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL ERRO -->
    <div class="modal modal-danger fade" id="erro" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-plus"></i> Cadastro de usuários</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <p style="font-size:18px" id="msg_error"></p>
            </div>
          </div>
          <div class="modal-footer clearfix">
            <button type="button" class="btn btn-outline pull-right" data-dismiss="modal"><i class="fa fa-check"></i> OK</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
<!-- Enviando dados do formulário via ajax -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#form").submit(function(){
      $.ajax({type: "POST",
              url: "{{ url_for('user_new_submit') }}",
              data: new FormData( this ),
              processData: false,
              contentType: false,
              cache: false,
            })
      .done(function(data){
        if (data=="Usuario cadastrado com sucesso"){
          $("#sucesso").modal("show");
        }
        else if (data=="Usuario ja existe"){
          $("#repetida").modal("show");
        }
        else{
          alert = document.getElementById("msg_error");
          alert.innerHTML = ( data );
          $("#erro").modal("show");
        }
      })
      .fail(function(xhr, textStatus, errorThrown) {
        alert = document.getElementById("msg_error");
        alert.innerHTML = ( xhr.responseText.match("<title>(.*?)</title>")[1] );
        $("#erro").modal("show");
      });
      return false;
    });
  });
</script>
{% endblock %}
